#id-about{
	background-image: url("../img/about-op.jpeg");
}

#id-writing{
	background-image: url("../img/writing-op.jpeg");
}

#id-work{
	background-image: url("../img/work-op.jpg");
}

#id-education{
	background-image: url("../img/education-op.jpeg");
}

.bg-img{
	background-size: auto;   
	background-size: cover; 
	background-position: center;
}

.bg-color{
	background-color: #F0F0F0;
}

.btn-menu{
	position: absolute;
	right: 50px;
	top: 50px;
	z-index: 1;
}

.btn-top{
	position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
}

.item .image{
	border: 2px solid black;
}

#img-profile-side{
	margin: auto;
	margin-bottom: 50px;
	border:5px solid white;
}

#img-profile-main{
	border: 2px solid black;
}

#div-profile{
	margin-top: 75px;
}

.slide{
text-align:center;
}

.cards{
text-align:center;
}

#div-links{
	position: relative;
	margin-top: 100px;
	text-align: center;
}

.fp-slidesNav{
	text-align: center;
}

#about_test{
	background: rgba(255, 255, 255, .9);
}

#template_news{
	overflow-y: auto;
	max-height: 175px;
}

#template_work{
	overflow-y: auto;	
	max-height: 437px;
}

#template_publication{
	overflow-y: auto;	
	max-height: 437px;
}

#template_education{
	overflow-y: auto;	
	max-height: 437px;
}