<div class="ui stackable grid">
	<div class="eight wide column  ui text">
		<h1 class="ui header huge aligned right"><b>Yacine YADDADEN</b></h1>
		<h2 class="ui header blue aligned right">Philosophiæ Doctor</h2>

		<div class="ui mini circular icons" style="text-align: right;">
			<a href="mailto:yacine.yaddaden@gmail.com">
				<span>
					<i class="black icon big envelope"></i>
				</span>
			</a>

			<a href="https://www.researchgate.net/profile/Yacine_Yaddaden">
				<span>
					<i class="black icon big search"></i>
				</span>
			</a>

			<a href="https://scholar.google.fr/citations?hl=fr&user=V695LBgAAAAJ">
				<span>
					<i class="black icon big graduation cap"></i>
				</span>
			</a>

			<a href="https://github.com/yyaddaden">
				<span>
					<i class="black icon big github alternate"></i>
				</span>
			</a>
		</div>

		<h3 class="ui header aligned right">
			<a href="http://uqac.ca/">Université du Québec à Chicoutimi</a><br> Québec, Canada.
		</h3>

		<div style="text-align: right;">
			<a href="pdf/Curriculum_Vitae_Eng_V1.0.pdf">
				<button class="ui right labeled green icon button">
					<i class="download icon"></i>
					C.V
				</button>
			</a>
			<a href="#link-publications">
				<button class="ui right labeled blue icon button">
					<i class="down arrow icon"></i>
					Publications
				</button>
			</a>
		</div>

	</div>

	<div class="eight wide column" >
		<img class="ui image" src="img/profile.jpg" id="img-profile-main" height="260" width="260">
	</div>
</div>