<div id="div-profile">
	<img class="ui circular small image" src="img/profile.jpg" id="img-profile-side" />
</div>

<a class="item active" href="#link-about" id="it_link-about">
	<span>
		<i class="left icon user"></i>
		ABOUT ME
	</span>
</a>

<a class="item" href="#link-work" id="it_link-work">
	<span>
		<i class="left icon briefcase left"></i>
		EXPERIENCE 
	</span>
</a>

<a class="item" href="#link-publications" id="it_link-publications">
	<span>
		<i class="left icon book"></i>
		PUBLICATIONS 
	</span>
</a>

<a class="item" href="#link-education" id="it_link-education">
	<span>
		<i class="left icon graduation cap left"></i>
		EDUCATION 
	</span>
</a>

<div id="div-links">
	<div class="ui mini circular icons">
		<a href="mailto:yacine.yaddaden@gmail.com">
			<span><i class="inverted icon big envelope"></i></span>
		</a>
		<a href="https://www.researchgate.net/profile/Yacine_Yaddaden">
			<span><i class="inverted icon big search"></i></span>
		</a>
		<a href="https://scholar.google.fr/citations?hl=fr&user=V695LBgAAAAJ">
			<span><i class="inverted icon big graduation cap"></i></span>
		</a>
		<a href="https://github.com/yyaddaden">
			<span><i class="inverted icon big github alternate"></i></span>
		</a>
	</div>
</div>