<div class="ui bordered image" style="height: 200px; width: 200px;">
	<img src="img/elsevier.png">
</div>
<div class="content">
	<a class="header"><!-- Publication type --></a>
	<div class="meta">
		<span class="cinema date"><!-- Publication date --></span>|
		<span class="cinema doi"><!-- Publication doi --></span>
	</div>
	<div class="description">
		<p>
			<!-- Publication reference -->
		</p>
	</div>
	<div class="extra">
		<a class="bibtex" href="#">
			<button class="ui left labeled green icon button">
			<i class="download icon"></i>
			Bibtex
			</button>
		</a>
		<a class="link" href="#">
			<button class="ui left labeled blue icon button">
			<i class="globe icon"></i>
			Access
			</button>
		</a>	
	</div>
</div>